/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import 'bootstrap/dist/css/bootstrap.min.css';

.dont-see-me {
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  clip-path: circle(0, 0);
}

.high-light{
  color: cyan;
}

.img {
  font-size: 0;
  display: inline-block;
  /* width: 100%; */
  max-width: 100%;
  object-fit: cover;
}